<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body, placeholder: "Write something...",
          attachments: params[:attachments_disabled] ? "false" : nil,
          toolbar: params[:toolbar_disabled] ? "false" : nil do %>
      <lexical-prompt-source id="inline-source">
        <%= Person.find_each do |person| %>
          <%= render "people/prompt_item", person: person %>
        <% end %>
      </lexical-prompt-source>

      <lexical-prompt trigger="1" src="inline-source" empty-results="No results"  name="mention">
      </lexical-prompt>

      <lexical-prompt trigger="2" src="<%= people_path %>" name="mention">
      </lexical-prompt>

      <lexical-prompt trigger="3" src="<%= people_path %>" name="mention" remote-filtering insert-editable-text supports-space-in-searches>
      </lexical-prompt>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
