<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body, placeholder: "Write something..." do %>
      <lexical-prompt-source id="inline-source">
        <%= Person.find_each do |person| %>
          <lexical-prompt-item search="<%= "#{person.name} #{person.initials}" %>" sgid="<%= person.attachable_sgid %>">
            <template type="menu"><%= person.name %></template>
            <template type="editor">
              <%= render "people/person", person: person %>
            </template>
          </lexical-prompt-item>
        <% end %>
      </lexical-prompt-source>

      <lexical-prompt trigger="@" source="inline-source" name="inline-mention" editable-item eager-load>
      </lexical-prompt>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
