<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body, placeholder: "Write something..." do %>
      <lexical-prompt-source id="inline-source">
        <%= Person.find_each do |person| %>
          <%= render "people/prompt_item", person: person %>
        <% end %>
      </lexical-prompt-source>

      <lexical-prompt trigger="@" src="inline-source" name="inline-mention">
      </lexical-prompt>

      <lexical-prompt trigger="#" src="<%= people_path %>" name="inline-mention">
      </lexical-prompt>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
