<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>

    <div style="width: 50%; margin: 0 auto;">

      <lexical-toolbar id="the-toolbar">
        <!-- Inline formatting -->
        <button type="button" data-command="bold">Bold</button>
        <button type="button" data-command="italic">Italic</button>

        <!-- Block-level formatting -->
        <button type="button" data-command="formatElement" data-payload="h1">Heading</button>
        <button type="button" data-command="formatElement" data-payload="quote">Quote</button>
        <button type="button" data-command="insertCodeBlock">Code Block</button>

        <!-- Lists -->
        <button type="button" data-command="insertUnorderedList">โข Bullet List</button>
        <button type="button" data-command="insertOrderedList">1. Numbered List</button>

        <!-- Attachments -->
        <button type="button" data-command="uploadAttachments">Upload Attachment</button>
      </lexical-toolbar>

      <%= form.rich_text_area :body, toolbar: "the-toolbar" %>รง
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
