<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body, placeholder: "Write something..." do %>
      <lexical-prompt-source id="inline-source">
        <%= Person.find_each do |person| %>
          <lexical-prompt-item search="<%= "#{person.name} #{person.initials}" %>">
            <template type="menu"><%= person.name %></template>
            <template type="editor">
              <strong><%= person.initials %></strong>
              <em><%= person.name %></em>
            </template>
          </lexical-prompt-item>
        <% end %>
      </lexical-prompt-source>

      <lexical-prompt trigger="@" source="inline-source">
      </lexical-prompt>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
